@use 'variables.scss';

/*Extra small devices*/
@media (max-width: 575.98px){
    /* Styles for extra small devices */
        //modal
        .carousel-inner {
            .carousel-item {
                img{
                    width: 100%;
                    height: auto;
                    margin: 0 auto;
                }
                .carousel-caption {
                    button {
                        font-size: 14px;
                        padding: 10px 15px;
                        display: block;
                        background-color: variables.$btn-bk-color;
                    }
                }
            }
        }
}

/*Small devices*/
@media (min-width: 576px) and (max-width: 767.98px) {
    /* Styles for small devices */

    //modal
    .carousel-inner {
        .carousel-item {
            img{
                width: 100%;
                height: auto;
                margin: 0 auto;
            }
            .carousel-caption {
                button {
                    background-color: variables.$btn-bk-color;
                    font-size: 16px;
                    padding: 12px 18px;
                    display: block;
                }
            }
        }
    }
}

/*Medium devices*/
@media (min-width: 768px) {
    /* Styles for medium devices */
}

/*Large devices*/
@media (min-width: 992px) {
    /* Styles for large devices */
}

/*Extra large devices*/
@media only screen and (min-width: 1200px) {
    /* Styles for extra large devices */
}