<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CINEPHILE - MARIA JOSE MEJIA CALVO</title>

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!--Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!--CSS-->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!--dark/light mode-->
    <div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
        <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center show" id="bd-theme" type="button" aria-expanded="true" data-bs-toggle="dropdown" aria-label="Toggle theme (light)">
            <svg class="bi my-1 theme-icon-active" width="1em" height="1em">
                <use href="#sun-fill"></use>
            </svg>Mode
            <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text" data-popper-placement="top-end">
            <!--Light-->
            <li>
                <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="light" aria-pressed="true">
                    <svg class="bi me-2 opacity-50" width="1em" height="1em">
                        <use href="#sun-fill"></use>
                    </svg>
                    Light
                    <svg class="bi ms-auto d-none" width="1em" height="1em">
                        <use href="#check2"></use>
                    </svg>
                </button>
            </li>
            <!--Dark-->
            <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                    <svg class="bi me-2 opacity-50" width="1em" height="1em">
                        <use href="#moon-stars-fill"></use>
                    </svg>
                    Dark
                    <svg class="bi ms-auto d-none" width="1em" height="1em">
                        <use href="#check2"></use>
                    </svg>
                </button>
            </li>
            <!--Auto-->
            <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
                    <svg class="bi me-2 opacity-50" width="1em" height="1em">
                        <use href="#circle-half"></use>
                    </svg>
                    Auto
                    <svg class="bi ms-auto d-none" width="1em" height="1em">
                        <use href="#check2"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>

    <!--Navigation Bar-->
    <!--Navbar-->
    <nav>
        <!--Navbar -->
        <!--navbar button: Cinephile-->
        <div class="navbar-btn gradient-bkgr">
            <img class="overlay" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu" src="/images/logo.png" alt="cinephile logo">
        </div>
        
        <!--Offcanvas Body-->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasMenuLabel">Welcome</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">
                <div class="offcanvas-text">
                    <img class="overlay" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu" src="/images/logo.png" alt="cinephile logo">
                </div>

                <hr> <!--Divider-->

                <!--Menu-->
                <menu>
                    <ul>
                        <!--Home-->
                        <li class="nav-item gradient-navbar">
                            <a aria-current="page" href="/">Home</a>
                        </li>
                        <!--New Releases-->
                        <li class="nav-item gradient-navbar">
                            <a aria-current="page" href="/releases">New Releases</a>
                        </li>
                        <!--TV series-->
                        <li class="nav-item gradient-navbar">
                            <a aria-current="page" href="/series">TV Series</a>
                        </li>
                    </ul>
                </menu>

                <hr> <!--Divider-->

                <!--Login/Signup-->
                <div class="container membership">
                    <button id="log-in" class="gradient-navbar">
                        <a href="/login">LogIn</a>
                        <!--alert to simulate a login session-->
                    </button>
    
                    <button id="signup" class="gradient-navbar">
                        <a href="/signup">SignUp</a>
                        <!--alert to simulate a signup session-->
                    </button>
                </div>

                <!--Support-->
                <p id="support">
                    <a href="#"><i class="bi bi-info-circle-fill"></i>Support</a>
                </p>

                <hr>

                           <!--Footer-->
           <footer>
            <p>
                <a href="https://www.example.com" target="_blank">Cinephile Studios</a>
            </p>
            <p class="address">
                123 Vancouver City, British Columbia
            </p>
        </footer>
            </div>
        </div>
        
    </nav>

    <!--Search -->
    <div class="container-fluid search-icon">
            <form role="search">
                <input type="search" id="searchMedia" class="form-control" placeholder="Search..." aria-label="Search">
                <button type="button" id="searchBtn">
                    <a href="#main-view">
                        <img src="/images/search.svg" alt="search logo">
                    </a>
                </button>
            </form>
            <!--User icon-->
            <div class="dropdown">
                <a href="#" class="d-block dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/images/user.svg" alt="user" width="42" height="42" class="rounded-circle">
                </a>
                <ul class="dropdown-menu" data-popper-placement="bottom-menu">
                    <li>
                        <a class="dropdown-item" href="#">Account</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Profile</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Settings</a>
                    </li>
                    <li>
                       <hr class="dropdown-divider"> 
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Sign out</a>
                    </li>
                </ul>
            </div>
    </div>
    
    <!--Header-->
    <header>
        <!--Modal showing the latest movies and tv shows-->
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <!--carousel-item 1-->
                <div class="carousel-item active">
                    <img src="/images/movie1.jpg" class="d-block w-50" alt="movie 1">
                    <div class="carousel-caption d-none d-sm-block text-end">
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#myModal1">Watch Trailer Now
                        </button>
                        <!--Modal-->
                        <div class="modal fade" id="myModal1" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title" id="myModal1Label"><h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            <div class="modal-body">
                                                <iframe width="400" height="315" src="https://www.youtube.com/embed/f19gfOMZTtg?si=8leu3auPvI6h6cZZ" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!--end modal-->
                    </div>
                </div>
                <!--carousel-item 2-->
                <div class="carousel-item">
                    <img src="/images/movie2.jpg" class="d-block w-50" alt="movie 2">
                    <div class="carousel-caption d-none d-sm-block text-end">
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#myModal2">Watch Trailer Now
                        </button>
                        <!--Modal-->
                        <div class="modal fade" id="myModal2" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title" id="myModal2Label"><h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            <div class="modal-body">
                                                <iframe width="400" height="315" src="https://www.youtube.com/embed/x0XDEhP4MQs?si=e952W5F_7L5QhsRJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!--end modal-->
                    </div>
                </div>
                <!--carousel item 3-->
                <div class="carousel-item">
                    <img src="/images/movie3.jpg" class="d-block w-50" alt="movie 3">
                    <div class="carousel-caption d-none d-sm-block text-end">
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#myModal3">Watch Now
                        </button>
                        <!--Modal-->
                        <div class="modal fade" id="myModal3" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title" id="myModal3Label"><h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            <div class="modal-body">
                                                <iframe width="420" height="315" src="https://www.youtube.com/embed/7tk-WZSqIGQ?si=zd6LRqLExANao34I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> 
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!--end modal-->
                    </div>
                </div>
            </div>
            <!--Buttons-->
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </header>

    <!--Main-->
    <main id="main-view">
        <div class="results">
            <div class="modal-body">

            </div>
        </div>
    </main>



    <!--JS-->
   <!--  <script src="/js/app.js"></script> -->

    <script>
         //dark-light mode
 document.addEventListener('DOMContentLoaded', () => {
    const themeToggleBtn = document.getElementById('bd-theme');
    const themeOptions = document.querySelectorAll('[data-bs-theme-value]');

    //user's theme preference
    const currentTheme = localStorage.getItem('theme');
    if(currentTheme){
        document.documentElement.setAttribute('data-bs-theme', currentTheme);
        document.getElementById('bd-theme-text').innerText = `Toggle theme (${currentTheme})`;
    }

    //Theme toggle button
    themeOptions.forEach(option => {
        option.addEventListener('click', () => {
            const theme = option.getAttribute('data-bs-theme-value');
            document.documentElement.setAttribute('data-bs-theme', theme);
            document.getElementById('bd-theme-text').innerText = `Toggle theme (${theme})`;
            localStorage.setItem('theme', theme);

            //update button
            themeOptions.forEach(opt => opt.classList.remove('active'));
            option.classList.add('active');
        });
    });
 });
 
 //Sidebar Menu
 //overlay
 document.querySelector('.overlay').addEventListener('click', function() {
    //Sidebar logic goes here
 });

 //support link
 document.getElementById("support").onclick = function () {
    //Simulation of a support link 
     alert("Support Team Link");
 };

 //login
 document.getElementById("log-in").onclick = function () {
    //Simulation of a login link
    alert("Successful Login");
 };

 //signup
 document.getElementById("signup").onclick = function () {
    //Simulation of a signup link
    alert("Successful Signup");
 }

 //consts
const displayResults = document.querySelector('.results');

  //API: database
  const apiReadAccessToken = 'eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkM2IyMWVlOTlmNzMyYjFiMzU5NTE4NzM3MDJmNDU4MiIsIm5iZiI6MTczMzE2MzYxNC4zNzIsInN1YiI6IjY3NGRmYTVlNTYyYjAzMGJiNWFkZTVhZCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.SN9C63wqn3Bqd9cEYM8R3nOHOsZMpyMipzF4snctfLs';

  const apiKey = 'd3b21ee99f732b1b35951873702f4582';


 //API: video
const fetchDisplayVideo = (movieId, modalId) => {
    const videoUrl = `https://api.themoviedb.org/3/movie/${movieId}/videos`;

    fetch(videoUrl, {
        method: 'GET',
        headers: {
            'Authorization': `Bearer ${apiReadAccessToken}`
        }
    })
    .then(response => response.json())
    .then(data => {
        const videoContainer = document.querySelector(`#${modalId} .modal-body`); //.video-container
        if(data.results.length > 0){
            const video = data.results.find(v => v.type === 'Trailer');
            if(video){
                const videoSrc = `https://www.youtube.com/embed/${video.key}`;
                videoContainer.innerHTML = `<iframe width="560" height="315" src="${videoSrc}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>`;
            } else {
                videoContainer.innerHTML = '<p>No trailer available</p>';
            } 
        } else {
                videoContainer.innerHTML = '<p>No video available</p>';
            }
    })
    .catch(error => {
        console.error('Error fetching video:', error);
        const videoContainer = document.querySelector(`#${modalId} .modal-body`); //.video-container
        videoContainer.innerHTML = '<p>Error fetching video</p>';
    });
};

 //Event listeners for the Search Button
 document.getElementById('searchBtn').addEventListener('click', function() {
    const searchMedia = document.getElementById('searchMedia').value;

    //
    if (!searchMedia) {
        alert('Please enter a search term');
        return;
    }

    const movieUrl = `https://api.themoviedb.org/3/search/movie?query=${searchMedia}`;
    const tvUrl = `https://api.themoviedb.org/3/search/tv?query=${searchMedia}`;

        //Requesting Access using the Read Access Token: MOVIES
        const fetchMovieData = fetch(movieUrl, {
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${apiReadAccessToken}`
            }
        });

        //Requesting Access using the Read Access Token: TV SERIES
        const fetchTvData = fetch(tvUrl, {
            method: 'GET',
            headers:{
                'Authorization': `Bearer ${apiReadAccessToken}`
            }
        });
    
//Responses
   Promise.all([fetchMovieData, fetchTvData])
   .then(responses => Promise.all(responses.map(response => response.json())))
   .then(([movieData, tvData]) => {
        const resultsContainer = document.querySelector('.results');
        resultsContainer.innerHTML = ''; //to clear previous results

        //movies results
        if(movieData.results.length > 0){
            movieData.results.forEach((movie, index) => {
                const div = document.createElement('div');
                const imageUrl = movie.poster_path ? `https://image.tmdb.org/t/p/w200${movie.poster_path}` : `placeholder.png`;
                const modalId = `modal${index + 1}`;
                div.innerHTML = `
                <div class="results">
                    <div class="card">
                        <img class="card-img" src="${imageUrl}" alt="${movie.title}" width="200">
                        <div class="card-body">
                            <h2 class="card-title">${movie.title}</h2>
                                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#${modalId}" onclick="fetchDisplayVideo(${movie.id}, '${modalId}')">
                                    Watch Trailer
                                </button>
                                <div class="modal fade" id="${modalId}" tabindex="-1" aria-labelledby="${modalId}Label" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="${modalId}Label">${movie.title} - Trailer</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>            
                `;
                resultsContainer.appendChild(div);
            });
        } else {
            resultsContainer.innerHTML += '<p>No movie results found.</p>';
        }

        //tv series results
        if(tvData.results.length > 0){
            tvData.results.forEach(tvShow => {
                const div = document.createElement('div');
                const imageUrl = tvShow.poster_path ? `https://image.tmdb.org/t/p/w200${tvShow.poster_path}` : `placeholder.png`;
                div.innerHTML =  `
                <div class="results">
                    <div class="card">
                        <img src="${imageUrl}" alt="${tvShow.name}" width="200">
                        <div class="card-body">
                            <h2 class="card-title">${tvShow.name}</h2>
                        </div>
                    </div>
                </div>
                `;
                resultsContainer.appendChild(div);
            });
        } else {
            resultsContainer.innerHTML += '<p>No tv series results found.</p>';
        }
   })
   .catch(error => {
        console.error('Error:', error);
        const resultsContainer = document.querySelector('.results');
        resultsContainer.innerHTML = '<p>An error has occurred. Try later.</p>'
   });
 });


 //New Releases - Rated movies
 const fetchTopRatedMovies = () => { 
    const topRatedMoviesUrl = 'https://api.themoviedb.org/3/movie/top_rated';
    
    fetch(topRatedMoviesUrl, { 
        method: 'GET', 
        headers: { 
            'Authorization': `Bearer ${apiReadAccessToken}` 
        }
     })
      .then(response => response.json())
    .then(data => { 
        const resultsContainer = document.querySelector('.container .results');
         resultsContainer.innerHTML = ''; 
         
         if (data.results.length > 0) { 
            data.results.forEach(movie => { 
                const div = document.createElement('div'); 
                const imageUrl = movie.poster_path ? `https://image.tmdb.org/t/p/w200${movie.poster_path}` : 'placeholder.png'; 
                div.classList.add('movie-card'); 
                div.innerHTML = ` 
                <img src="${imageUrl}" alt="${movie.title}" width="200"> 
                <h2>${movie.title}</h2> 
                <p>Rating: ${movie.vote_average}</p> 
                <p>Release Date: ${movie.release_date}</p> 
                `;
                 resultsContainer.appendChild(div); 
                }); 
            } else { 
                resultsContainer.innerHTML = '<p>No top-rated movies found.</p>'; 
            }
        }) 
        .catch(error => { 
            console.error('Error fetching top-rated movies:', error); 
            const resultsContainer = document.querySelector('.container .results'); 
            resultsContainer.innerHTML = '<p>An error has occurred. Please try again later.</p>'; 
        }); 
    }; // Fetch and display the top-rated movies on page load 
    document.addEventListener('DOMContentLoaded', () => { 
        fetchTopRatedMovies(); 
    });

//TV series
const fetchTvSeries = () => { 
    const tvSeries = 'https://api.themoviedb.org/3/tv/popular';
    
    fetch(tvSeries, { 
        method: 'GET', 
        headers: { 
            'Authorization': `Bearer ${apiReadAccessToken}` 
        }
     })
      .then(response => response.json())
    .then(data => { 
        const resultsContainer = document.querySelector('.container .results');
         resultsContainer.innerHTML = ''; 
         
         if (data.results.length > 0) { 
            data.results.forEach(series => { 
                const div = document.createElement('div'); 
                const imageUrl = series.poster_path ? `https://image.tmdb.org/t/p/w200${series.poster_path}` : 'placeholder.png'; 
                div.classList.add('series-card'); 
                div.innerHTML = ` 
                <img src="${imageUrl}" alt="${series.title}" width="200"> 
                <h2>${series.title}</h2> 
                <p>Rating: ${series.vote_average}</p> 
                <p>Release Date: ${series.first_air_date}</p> 
                `;
                 resultsContainer.appendChild(div); 
                }); 
            } else { 
                resultsContainer.innerHTML = '<p>No tv series found.</p>'; 
            }
        }) 
        .catch(error => { 
            console.error('Error fetching tv series:', error); 
            const resultsContainer = document.querySelector('.container .results'); 
            resultsContainer.innerHTML = '<p>An error has occurred. Please try again later.</p>'; 
        }); 
    }; // Fetch and display the top-rated movies on page load 
    document.addEventListener('DOMContentLoaded', () => { 
        fetchTvSeries(); 
    });
    </script>

    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>