@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Baskervville:ital@0;1&family=Playwrite+HR+Lijeva:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*Extra small devices*/
@media (max-width: 575.98px) {
  /* Styles for extra small devices */
  .carousel-inner .carousel-item img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .carousel-inner .carousel-item .carousel-caption button {
    font-size: 14px;
    padding: 10px 15px;
    display: block;
    background-color: #cc0f23;
  }
}
/*Small devices*/
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Styles for small devices */
  .carousel-inner .carousel-item img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .carousel-inner .carousel-item .carousel-caption button {
    background-color: #cc0f23;
    font-size: 16px;
    padding: 12px 18px;
    display: block;
  }
}
/*Medium devices*/
@media (min-width: 768px) {
  /* Styles for medium devices */
}
/*Large devices*/
@media (min-width: 992px) {
  /* Styles for large devices */
}
/*Extra large devices*/
@media only screen and (min-width: 1200px) {
  /* Styles for extra large devices */
}
* {
  box-sizing: border-box;
}

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --btn-background-color: rgb(204, 218, 218);
  --btn-text-color: #000000;
  --card-background-color: rgb(93, 95, 97);
  --card-title-color: #fafafa;
  --bk-color-search-bar: whitesmoke;
  --bk-color-search: rgb(204, 218, 218);
  --color-search-font: #000000;
  --bk-btn-search-logo: rgb(197, 200, 200);
  --color-btn-search-logo: black;
  --color-font-user-menu: black;
  --bk-color-modeBtn: black;
  --color-modeBtn: whitesmoke;
}

[data-bs-theme=dark] {
  --background-color: #000;
  --text-color: #ffffff;
  --btn-background-color: rgb(204, 218, 218);
  --card-background-color: #cddbdb;
  --card-title-color: #000;
  --bk-color-search-bar: #000;
  --bk-color-search: #cddbdb;
  --color-search-font: #000;
  --bk-btn-search-logo: black;
  --color-btn-search-logo: white;
  --color-font-user-menu: rgb(255, 254, 254);
  --bk-color-modeBtn: whitesmoke;
  --color-modeBtn: rgb(0, 0, 0);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

div.dropdown {
  z-index: 1500;
}
div.dropdown .btn-bd-primary {
  background-color: #E4580B;
}
div.dropdown .dropdown-menu {
  position: absolute;
  inset: auto 0px 0px auto;
  margin: 0px;
  transform: translate3d(0px, -44px, 0px);
}
div.dropdown .dropdown-menu li button {
  background-color: var(--bk-color-modeBtn);
  color: var(--color-modeBtn);
}

nav .navbar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
nav .navbar-btn img {
  font-size: 25px;
  width: 300px;
  height: 300px;
}
nav .offcanvas {
  background-color: #000;
  color: whitesmoke;
}
nav .offcanvas .offcanvas-header {
  display: grid;
  grid-template-columns: 1fr;
}
nav .offcanvas .offcanvas-header h5 {
  font-size: 30px;
  text-align: center;
}
nav .offcanvas .offcanvas-body .offcanvas-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .offcanvas .offcanvas-body .offcanvas-text img {
  width: 150px;
  height: 150px;
}
nav menu {
  padding: 20px;
}
nav menu ul {
  padding: 2rem;
}
nav menu ul li {
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 20px;
  margin: 1px;
  border-radius: 15px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
nav menu ul li a {
  color: #191970;
  text-decoration: none;
}
nav .membership {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}
nav .membership button {
  border-radius: 15px;
}
nav .membership button a {
  color: #191970;
  text-decoration: none;
}
nav #support {
  margin-top: 35px;
  background-color: #d1cfb5;
  border-radius: 15px;
  text-align: center;
}
nav #support a {
  color: #191970;
  text-decoration: none;
}

.search-icon {
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  justify-items: center;
  background-color: var(--bk-color-search-bar);
  padding: 10px;
}
.search-icon form {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 5px;
}
.search-icon form input {
  background-color: var(--bk-color-search);
  color: var(--color-search-font);
}
.search-icon form input:hover {
  background-color: var(--bk-color-search);
  color: var(--color-search-font);
  font-size: 24px;
}
.search-icon form button {
  width: 100%;
  border-radius: 15px;
  border: none;
  background-color: var(--bk-btn-search-logo);
  color: var(--color-btn-search-logo);
}
.search-icon .dropdown {
  text-align: end;
}
.search-icon .dropdown .dropdown-toggle {
  color: white;
}
.search-icon .dropdown ul {
  font-size: medium;
  position: absolute;
  margin: 0;
  transform: translate3d(0px, 34px, 0px);
  inset: 0px 0px auto auto;
}
.search-icon .dropdown ul a {
  text-decoration: none;
  color: var(--color-font-user-menu);
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 20px;
  padding: 20px;
}
.results .card {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  height: 550px;
  padding: 5px;
  border: 1px solid white;
  background-color: var(--card-background-color);
}
.results .card img {
  width: 100%;
  max-width: 220px;
  height: 350px;
  border-radius: 5px;
}
.results .card-img {
  width: 100%;
  height: auto;
}
.results .card-body {
  padding: 5px;
  text-align: center;
}
.results .card-title {
  font-size: 18px;
  margin-bottom: 10px;
  color: var(--card-title-color);
}
.results .card-text {
  margin-bottom: 15px;
  color: #000;
}
.results .btn {
  display: inline-block;
  background-color: #cc0f23;
}
.results .btn:hover {
  background-color: #0691d1;
  color: #000;
}

.container .results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 20px;
  padding: 20px;
}
.container .results .movie-card {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}
.container .results .movie-card {
  display: block;
  margin-bottom: 10px;
}
.container .results .movie-card h2 {
  font-size: 18px;
  margin: 10px 0;
}
.container .results .movie-card p {
  margin: 5px 0;
}

.modal-body iframe {
  width: 100%;
  max-width: 650px;
}

.carousel-inner .carousel-item img {
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 350px;
  margin: 0 auto;
}
.carousel-inner .carousel-item .carousel-caption {
  position: absolute;
  left: 50%;
  text-align: center;
}
.carousel-inner .carousel-item .carousel-caption button {
  background-color: var(--btn-background-color);
  color: var(--btn-text-color);
  font-size: 16px;
  padding: 12px 20px;
  display: inline-block;
}
.carousel-inner .carousel-item .modal-header {
  background-color: #000;
  padding-left: 7%;
  border: 2px solid black;
}

/*Footer*/
footer {
  font-size: 14px;
  text-decoration: none;
  padding: 0.3em;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  margin-bottom: 0;
}
footer p {
  display: flex;
  justify-content: center;
}

footer a:visited { /*when a webpage has being visited*/
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  color: rgb(244, 205, 10);
  font-family: "Ultra", serif;
}

footer a:active { /*when a link has being clicked*/
  color: #10defa;
  text-decoration: none;
}

a {
  color: #f80505;
  text-decoration: none;
}

/*Address*/
.address {
  margin-bottom: 5px;
}

.gradient-bkgr {
  background: linear-gradient(190deg, #114AB1, #6793AC, #E4580B);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

.gradient-navbar {
  background: linear-gradient(190deg, #114AB1, lightgrey, #cddbdb);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*Extra small devices*/
@media (max-width: 575.98px) {
  /* Styles for extra small devices */
  .carousel-inner .carousel-item h5 {
    font-size: 10px;
  }
  .carousel-inner .carousel-item img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .carousel-inner .carousel-item .carousel-caption {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
  }
  .carousel-inner .carousel-item .carousel-caption button {
    background-color: #cc0f23;
    font-size: 12px;
    padding: 5px 10px;
    display: inline-block;
  }
}
/*Small devices*/
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Styles for small devices */
  .carousel-inner .carousel-item h5 {
    font-size: 10px;
  }
  .carousel-inner .carousel-item img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .carousel-inner .carousel-item .carousel-caption {
    left: 70%;
  }
  .carousel-inner .carousel-item .carousel-caption button {
    background-color: #cc0f23;
    font-size: 10px;
    padding: 5px 10px;
    left: 70%;
    display: block;
  }
}
/*Medium devices*/
@media (min-width: 768px) {
  /* Styles for medium devices */
}
/*Large devices*/
@media (min-width: 992px) {
  /* Styles for large devices */
}
/*Extra large devices*/
@media only screen and (min-width: 1200px) {
  /* Styles for extra large devices */
}
